<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taotao.manage.mapper.StudentMapper" >

  <select id="getById" resultType="com.taotao.manage.pojo.Student" parameterType="java.lang.String">
    SELECT *FROM student WHERE id=#{id}

  </select>
</mapper>